{% extends 'base.html.twig' %}

{% block title %}Création d'un y{% endblock %}

{% block body %}
    <h1>Création d'un y</h1>

    {# form(form) #}

    {{ form_start(form) }}
        {# form_row(form.tags) #}

        {#<div>
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_help(form.content) }}
        </div> #}
        {{ form_rest(form) }}

        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}
